<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <h1>NBA 2022 Season</h1>
            <a class="navOption" href="/">Home</a>
            <a class="navOption" href="/playerPage">Players Page</a>
            <a class="navOption" href="/teamPage">Team Page</a>
        </ul>
</nav>
</header>
<body>
    <div class="playerSearch">
    <form action="/?_method=PUT" method="POST" id="playerPage">
        <div class="playerSearch" id="playerSearch">
        <h3>Player Stats:</h3>
        <label>First Name</label>
        <input type="text" name="firstName">
        <label>Last Name</label>
        <input type="text" name="lastName">
        <submit><button>Search</button></submit>
        </div>
</form>
</div>
</body>