*{
    text-align: center;
}

body{
    background-color: darkslategrey;
}

header nav{
    height: 50px;
    background-color: darkgrey;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
}

img{
    width: 100px;
    height: 100px;
}

ul{
    list-style: none;
}

.playerStats{
    margin-left: auto;
    margin-right: auto;
}

.last5{
    margin-left: auto;
    margin-right: auto;
}

.tScores table{
    margin-left: auto;
    margin-right: auto;
}

.tScores table th{
    width: 250px;
    background-color: darkgrey;
}

.yScores table{
    margin-left: auto;
    margin-right: auto;
}

.yScores table th{
    width: 250px;
    background-color: darkgrey;
}

.boxScoreTable{
    margin-left: auto;
    margin-right: auto;
}

.teamName{
    font-size: 25px;
}

.boxButton{
    width:75%;
    height: 50%;
}

.teamSearch{
    padding-top: 25px;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -30px;
  }

.topSched{
    border-top: 1px solid black;
    padding-top: 0px;
  }

.bottomSched{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

